.idea
node_modules
dist

# generate_services start
/ai-assistants-v1
/ai-dataset-v1
/ai-files-v1
/ai-foundation_models-v1
/ai-llm-v1alpha
/ai-ocr-v1
/ai-stt-v2
/ai-stt-v3
/ai-translate-v2
/ai-tts-v3
/ai-tuning-v1
/ai-vision-v1
/ai-vision-v2
/airflow-v1
/apploadbalancer-v1
/audittrails-v1
/backup-v1
/billing-v1
/cdn-v1
/certificatemanager-v1
/cic-v1
/cloudapps-workload-v1
/cloudregistry-v1
/cloudrouter-v1
/compute-v1
/containerregistry-v1
/dataproc-manager-v1
/dataproc-v1
/datasphere-v1
/datasphere-v2
/datatransfer-v1
/dns-v1
/endpoint
/iam-v1
/iot-broker-v1
/iot-devices-v1
/k8s-marketplace-v1
/k8s-v1
/kms-v1
/loadbalancer-v1
/loadtesting-agent-v1
/loadtesting-api-v1
/lockbox-v1
/logging-v1
/marketplace-licensemanager-saas-v1
/marketplace-licensemanager-v1
/marketplace-metering-v1
/marketplace-pim-v1
/marketplace-v1
/mdb-clickhouse-v1
/mdb-elasticsearch-v1
/mdb-greenplum-v1
/mdb-kafka-v1
/mdb-mongodb-v1
/mdb-mysql-v1
/mdb-mysql-v1alpha
/mdb-opensearch-v1
/mdb-postgresql-v1
/mdb-redis-v1
/mdb-sqlserver-v1
/monitoring-v3
/operation
/organizationmanager-v1
/resourcemanager-v1
/searchapi-v2
/serverless-apigateway-v1
/serverless-apigateway-websocket-v1
/serverless-containers-v1
/serverless-eventrouter-v1
/serverless-functions-v1
/serverless-mdbproxy-v1
/serverless-triggers-v1
/serverless-workflows-v1
/smartcaptcha-v1
/smartwebsecurity-v1
/speechsense-v1
/storage-v1
/video-v1
/vpc-v1
/ydb-v1
# generate_services end
