name: Pull Request Automated Checks
on:
  pull_request:
    branches:
      - master
      - alpha
      - beta
jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: yandex-cloud/nodejs-sdk/.github/actions/checkout-and-install-node@9fc72bb2948886090f84c9236580fbca480bdea7
      - run: npm run test
  check-endpoints:
    runs-on: ubuntu-20.04
    # Currently, the check-endpoints script fails on the master branch.
    # So we need to continue on error.
    continue-on-error: true
    steps:
      - uses: yandex-cloud/nodejs-sdk/.github/actions/checkout-and-install-node@9fc72bb2948886090f84c9236580fbca480bdea7
        with:
          submodules: recursive
      - run: npm run check-endpoints
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: yandex-cloud/nodejs-sdk/.github/actions/checkout-and-install-node@9fc72bb2948886090f84c9236580fbca480bdea7
      - run: npm run lint
  typecheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: yandex-cloud/nodejs-sdk/.github/actions/checkout-and-install-node@9fc72bb2948886090f84c9236580fbca480bdea7
      - run: npm run typecheck
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: yandex-cloud/nodejs-sdk/.github/actions/checkout-and-install-node@9fc72bb2948886090f84c9236580fbca480bdea7
      - run: npm run build
