name: Release
on:
  push:
    branches:
      - master
      - alpha
      - beta
jobs:
  release:
    name: Release
    runs-on: ubuntu-20.04
    steps:
      - uses: yandex-cloud/nodejs-sdk/.github/actions/checkout-and-install-node@4a0dbbde6b45cce08566abb9accace703f2a7a5d
      - run: npm ci
      - env:
          GITHUB_TOKEN: ${{ secrets.CLOUD_BOT_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
